* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: darkgrey;
}
.list {
  list-style: none;
  width: 100%;
  margin: 50px auto;
}
li.list-item {
  padding: 20px;
}
li.list-item:nth-child(odd) {
  background-color: slategray;
}
.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px auto;
  width: 960px;
}
div.list-item {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
}
div.list-item:nth-child(3n + 2) {
  margin-left: 5%;
  margin-right: 5%;
}
div.list-item:nth-child(4n + 1) {
  background-color: orange;
}
